<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input placeholder="Ingresar Nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input type="password" value="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button [routerLink]="['']" >Iniciar</ion-button>
  <ion-button [routerLink]="['/registro']">Registrar</ion-button>


</ion-content>
