<ion-header>
  <ion-toolbar>
    <ion-title>visualizarp</ion-title>
    <ion-icon name="person-outline" [routerLink]="['/inicioses']"></ion-icon>
    <ion-icon name="cart-outline" type="icon-end" [routerLink]="['/carro']"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <img  src="https://carozziexport.com/assets/img/products/_large/210485_CHOCOLATE_RAMA_LECHE_16X115G_1.jpg" />
      <ion-card-title>Chocolate</ion-card-title>
      <ion-card-subtitle>Costa Rama</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Id: 1
    </ion-card-content>

    <ion-card-content>
      Descripcion: Choclota asdweaisd
    </ion-card-content>
    <ion-card-content>
      Precio: $1.50
    </ion-card-content>
    <ion-card-content>
      Descuento: 20%
    </ion-card-content>
    <ion-card-content>
      Rating: 4.5/5
    </ion-card-content>
    <ion-card-content>
      Stock: 50
    </ion-card-content>
    <ion-card-content>
      Marca: Costa
    </ion-card-content>
    <ion-card-content>
      Categoria: Alimento
    </ion-card-content>
    <ion-card-content>
      miniatura:
    </ion-card-content>


    <ion-button  [routerLink]="['']">volver</ion-button>
    <ion-button >Agregar al carrito</ion-button>
  </ion-card>

</ion-content>
